.FondoPatron {
    background: url('../../Images/Perfilador/banner-patron.png');
}

.FondoNoDisponible {
    background-image: url('../../Images/Buro/NoCloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25rem;
}

.FondoSolicitud {
    background-image: url('../../Images/Buro/DocumentProtected.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25rem;
}

.FondoBlanco {
    background-color:white;
}

.MargenPatron {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.FormatoForm {
    border: solid;
    border-width: 1px;
}

    .FormatoForm .form-check-inline {
        padding-left: 15px;
    }

.EtiquetaForm, #C078_Col00, #C074_Col00 {
    background-color: #5F5F5F;
    color: white;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.DescripcionForm, #C078_Col01, #C074_Col01, #C084_Col00 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #C91C1C;
}

.AvisoForm, .BuroTerminos .col-lg-12 span {
    color: rgba(0,0,0,0.5);
    font-size: xx-small;
}

input.DigitosTarjeta {
    margin-left: 1rem;
    max-width: 5rem;
}

.AvisoInfo {
    color: rgba(0,0,0,0.5);
    font-size: x-small;
}

.BuroOpcionales legend {
    display: none;
}

.BuroOpcionales p {
    margin-bottom: 0;
}

.BuroTerminos .row {
    align-items: center;
}

.BuroTerminos #C097_Col01 {
    text-align: end;
}

.BotonBuro, .BuroTerminos .sf-SubmitButton.btn.btn-primary {
    background-color: #C91C1C;
    color: white;
    border: solid;
    border-radius: 8px;
    border-width: inherit;
    font-size: larger;
    padding-left: 5rem;
    padding-right: 5rem;
}

.AvisoBuro {
    color: #C91C1C;
    font-size: x-large;
    font-weight: bold;
}

.BuroTerminos #C097_Col00 {
    margin-top: 1rem;
}

@media (max-width: 538px) {
    label .Enviar {
        display:grid;
    }
}

.form-control-red {
    color: #dc3545;
    background-color: rgba(0,0,0,0.075);
    border-color: #c91c1c;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #dc35456b;
}

.content-captcha {
    margin-top:2rem;
}
.content-img-captcha {
    margin:2px;
    display:flex;
}
.captcha-img {
    height: 3rem;
    width: 3rem;
    align-self:center;
    cursor:pointer;
}
.chk-captcha {
    height: 2rem;
    width: 2rem;
    align-self:center;
}
#OutputA {
    align-self: center;
    margin-left: 1rem;
    margin-right: 2rem;
}
#txt_captcha {
    border-radius: 12px;
    max-width: 6rem;
    height: 2rem;
    margin-left: 40px;
}
#OutputCaptcha {
    font-size: larger;
    padding: 5px;
    color: rgba(0,0,0,0.5);
    font-style: oblique;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
}
.NewCaptcha {
color:darkblue;
font-family:'Bodoni MT';
font-weight:500;
}
    .NewCaptcha:hover {
    cursor:pointer;
    }

#chkTerminosCondiciones {
    height:20px;
    width:20px;
}