@font-face {
  font-family: "ToyotaType-Black";
  src: url("./Content/TFSM/Fonts/ToyotaType-Black.otf") format("opentype");
}

@font-face {
  font-family: "ToyotaType-Bold";
  src: url("./Content/TFSM/Fonts/ToyotaType-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ToyotaType-Regular";
  src: url("./Content/TFSM/Fonts/ToyotaType-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ToyotaType-SemiBold";
  src: url("./Content/TFSM/Fonts/ToyotaType-Semibold.ttf") format("opentype");
}

:root {
  --color-red: #cc0000 !important;
}

body {
  font-family: "ToyotaType-Regular", Arial, Helvetica, sans-serif;
  background-color: darkseagreen;
}

body p {
  margin: 0;
}

.header {
  background-color: white;
  z-index: 12;
  position: relative;
}

.brandLogo {
  max-width: unset !important;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.links a {
  margin-left: 40px;
  font-size: 14px;
  cursor: pointer;
}

.linkFinanciamiento {
  padding: 12px 24px;
  text-align: center;
  background-color: var(--color-red);
  color: white !important;
  border-radius: 25px;
}

@media (max-width: 820px) {
  .links {
    display: none;
  }
}

.menuButton {
  margin-left: 15px;
}

.overlay {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.drawerMenu {
  position: absolute;
  top: 64px;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 20px 24px rgba(18, 18, 18, 0.2);
  z-index: 11;
  overflow: auto;
}

@media (max-width: 500px) {
  .drawerMenu {
    width: 100vw;
    /* right: -5px; */
  }
}

.drawerMenu > div,
.menuLink {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menuLink {
  margin: 0px;
  color: #58595b;
  padding-left: 50px;
}

.drawerMenu > div:hover,
.menuLink:hover {
  background-color: #e0dfdf;
}

.deployable {
  display: block;
}

.pointDown {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 200ms;
}

.pointRight {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: all 200ms;
}

/* .footer{
	background-color: black;
	color: white;
	padding: 32px 104px
}

.footerSectionTitle{
	font-weight: 600;
	font-size: 16px;
	color: #FAFAFA;
	margin-bottom: 15px;
}

.footerLinks, .footerLinks a{
	font-size: 12px;
	color: #DDDBDA;
	padding: .3rem 0 !important;
} */

.footer {
  background-color: black;
  color: white;
  padding: 32px 104px;
}

.footerSectionTitle {
  font-weight: 600;
  font-size: 16px;
  color: #fafafa;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.footerItem {
  font-size: 12px;
  color: #dddbda;
  padding: 0.3rem 0 !important;
  list-style: none;
}

.customRow {
  display: flex;
  flex-wrap: wrap;
}

.socialNetworks {
  margin-top: 20px;
}

.socialNetworks img {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .nav-list {
    margin-left: 32px;
  }
}

/* Quienes somos */
.fuente_titulo_1 {
  color: #121212;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
}

.fuente_parrafo {
  color: #3e3e3c;
  font-size: 16px;
  line-height: 24px;
}

.bloque_contenedor_1 {
  background: #ffffff;
  bottom: 65px;
  box-shadow: 0px 4px 12px rgba(112, 110, 107, 0.1);
  border-radius: 12px;
  padding: 65px;
  position: relative;
}

.bloque_contenedor_video {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(112, 110, 107, 0.1);
  border-radius: 12px;
  padding: 0;
}

.imagen_superior {
  height: auto;
  width: 100vw;
}

.contenedor_superior {
  position: absolute;
}

.imagen_video {
  width: 100%;
  height: auto;
}

.bloque_contenedor_3 {
  background: #ffffff;
  border: 1px solid #dddbda;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 25px 20px 40px;
}

.fuente_titulo_2 {
  color: #121212;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.bloque_contenedor_4 {
  padding: 0;
}

.fuente_roja {
  color: #cc0000;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .fuente_titulo_1 {
    font-size: 24px;
    line-height: 32px;
  }

  .bloque_contenedor_1 {
    padding: 35px;
  }

  .bloque_contenedor_2 {
    padding: 0px 20px;
  }

  .bloque_contenedor_4 {
    padding: 0px 20px;
  }
}
