@font-face {
	font-family: 'ToyotaType-Black';
	src: url('./Content/TFSM/Fonts/ToyotaType-Black.otf') format('opentype');
}
@font-face {
	font-family: 'ToyotaType-Bold';
	src: url('./Content/TFSM/Fonts/ToyotaType-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'ToyotaType-Regular';
	src: url('./Content/TFSM/Fonts/ToyotaType-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'ToyotaType-SemiBold';
	src: url('./Content/TFSM/Fonts/ToyotaType-Semibold.ttf') format('opentype');
}

:root {
  --color-red: #CC0000 !important;
}

body { 
  font-family: 'ToyotaType-Regular', Arial, Helvetica, sans-serif;
}

.header{
	background-color: white;
	z-index: 12;
}

.navbar{
	display: flex;
	justify-content: flex-end;
}

.links a{
	margin-left: 40px;
	font-size: 14px;
}

.linkFinanciamiento{
	padding: 12px 24px;
	text-align: center;
	background-color: var(--color-red);
	color: white !important;
	border-radius: 25px;
}

.menuButton{
	margin-left: 15px;
}