.content-section{
  padding: 7% 0;
}

.background-white{
  background-color: #FFFFFF !important;
}

.background-gray{
  background-color: #F5F5F5 !important;
}

.template-body{
    margin-top: 63px;
}