.SinPaddingD {
    padding-right: 0;
}

.SinPaddingI {
    padding-left: 0;
}

.Cliente {
    display: inline-grid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px #AF1818 solid;
    background: #AF1818;
    color: white;
    align-content: center;
}

    .Cliente div {
        margin-top: -1rem;
    }

    .Cliente p {
        margin-bottom: 0;
        height: 1rem;
    }

.NoCliente {
    background-color: transparent;
    border: 0;
    border-radius: unset;
    color: white;
    text-align-last: center;
    /*height: 13rem;*/
}

    .NoCliente h5 {
        font-size: 1.1rem;
        padding-bottom: 1rem;
    }

    .NoCliente .card-body {
        text-align: center;
        padding-top: 2rem;
        font-size: xx-small;
    }

        .NoCliente .card-body a.ContactarCliente {
            color: #C91C1C;
            background-color: white;
            border-color: unset;
            font-weight: 600;
            border: none;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: 1rem;
        }

@media (min-width: 992px) {
    .NoCliente .card-body {
        padding-right: 5.2rem;
        padding-left: 5.2rem;
    }

    .MargenBottom20 {
        margin-bottom:0;
    }
}

@media (min-width: 1200px) {
    .NoCliente .card-body {
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

